<div class="dialog">
    <div class="dialog-title clearfix">
        <h1 class="pull-left" mat-dialog-title>Alert Message</h1>
        <button type="button" class="pull-right" mat-dialog-close><em class="material-icons">close</em></button>
    </div>
    <mat-dialog-content>
        <div class="mb20">
            <h4 *ngIf="isQuestionMissing">No questions have been selected for this test. Please add questions to the test. Click
                <a class="theme-text" [routerLink]="['/tests',testId,'questions']" (click)="closeDialog()">Select Questions</a></h4>
            <h4 *ngIf="!isQuestionMissing">No sections have been selected for this test. Please add sections to the test. Click 
                <a class="theme-text" [routerLink]="['/tests', testId,'sections']" (click)="closeDialog()">Select Sections</a> </h4>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button type="button" class="btn btn-primary" mat-dialog-close>Ok</button>        
    </mat-dialog-actions>
</div>
